.big-banner {
    background-image: url("../static/images/ny_site_test.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.small-banner {
    background-image: url("../static/images/mountains_test.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 120px;
}

.link-test {
    display: block;
    margin: 0 7px;
    text-indent: -9999px;
    width: 64px;
    height: 64px;
    background-size: cover;
}

.link-test:hover {
    color: white;
    /*background-color: white;*/
    opacity: 0.6;
}

#particles-js {
    background: whitesmoke;
    height: 650px;
}

.cls-1 {
    fill:#f05138;
}

.cls-2 {
    fill:#fefefe;
}

.cls-3 {
    fill:#221f20;
}

.programming-logos {
    margin-right: 15px;
    height: 60px;
}
