<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'includes/_links.html' %}
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
</head>
<body>
    <div id="particles-js">
        {% include 'includes/_navbar.html' %}

        <div class="col col-lg-6" style="position: absolute;">
            <h1>About</h1>

            <h2 class="mt-5">Hi, I'm Brenno!</h2>
            <p>I am a mechanical engineer, software developer, and aspiring machine learning specialist.
            I like to build mobile applications and employ ML algorithms to solve complex data problems.
            I thoroughly enjoy learning and am constantly expanding my skillset. When I'm not coding, I love
            to spend my time surfing, playing the guitar, or weightlifting.
            <br/>
            <br/>
            Please take a look around my site to learn a little bit more about me and don't hesitate to contact!
            </p>
        </div>

    </div>

    <script>
        particlesJS.load("particles-js", "../static/particles/particles.json", function(){
            console.log('particles loaded');
        })
    </script>

</body>
</html>