<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'includes/_links.html' %}
</head>
<body>
    <div class="small-banner">
        {% include 'includes/_navbar.html' %}

        <h1 class="ml-4 mt-2" style="color: white">About</h1>
    </div>

    <div class="col ml-2 mt-3">
        <h1>Hi, I'm Brenno!</h1>
        <p>I'm an aspiring software developer trained as a mechanical engineer. I have masters in Mechanical
        Engineering and a Bachelor's in Mechanical Engineering and German. I have a lot of experience using Python
        for data analysis and machine learning tasks.</p>
    </div>

</body>
</html>