<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'includes/_links.html' %}
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

</head>
<body>
        <div class="particles-content">
            {% include 'includes/_navbar.html' %}
            <h1 class="ml-3 mt-3">Experience</h1>

            <div class="container" style="position: absolute;">
{#                <h1>Experience</h1>#}

                <div class="container mt-4 mb-5">
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div>
                            <h3>University of Rhode Island - Kingston, RI</h3>
                            <h5 style="color: slategrey">Graduate Researcher, Microfluidics Laboratory</h5>
                        </div>
                        <div>
                           <h5>September 2017 - April 2019</h5>
                        </div>
                    </div>
                    <ul>
                      <li>Developed an iOS application to colorimetrically quantify phosphate levels based on
                          measured RGB values</li>
                        <li>Created an infrared box with 850nm emitters in order to take advantage of the absorption
                      peak in the Molybdenum Blue method. Imaged the box using a NoIR camera with a Raspberry Pi.
                      RAW Bayer data was used to calibrate and measure different phosphate test strips</li>
                      <li>Built an online data center to interface with the colorimetry app. The data center could
                      be used to easily collect phosphate measurements from various devices in various locations across
                      Rhode Island</li>
                      <li>Developed a fluorescent paper-based phosphate test strip using Europeum spotted carbon
                          nano dots. Constructed a UV-Vis box with an excitation wavelength of 370nm. Measured
                      fluorescence based on RGB values</li>
                    </ul>
                </div>

                <div class="container mb-5">
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div>
                            <h3>Porsche - Weissach, Germany</h3>
                            <h5 style="color: slategrey">Electrical Powertrains and Transmissions R&D Intern</h5>
                        </div>
                        <div>
                           <h5>March - July 2017</h5>
                        </div>
                    </div>
                    <ul>
                        <li>Worked extensively in systems engineering projects utilizing MATLAB and Simulink</li>
                        <li>Varied projects in the areas of electrical powertrains, transmissions, and
                            internal combustion engines</li>
                        <li>Gained experience working in a R&D environment of a major automotive company</li>
                    </ul>
                </div>

                <div class="container mb-5">
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div>
                            <h3>TU Darmstadt - Darmstadt, Germany</h3>
                            <h5 style="color: slategrey">Institute for Internal Combustion Engines and Powertrains</h5>
                        </div>
                        <div>
                           <h5>October 2016 - February 2017</h5>
                        </div>
                    </div>
                    <ul>
                        <li>Performed data analysis using AVL Concerto</li>
                        <li>Took part in a project investigating the correlations between vehicle speed and
                        the temperatures of several emission components</li>
                        <li>Exposure to a german spoken research environment</li>
                    </ul>
                </div>

                <div class="container">
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div>
                            <h3>Toray Plastics - North Kingstown, RI</h3>
                            <h5 style="color: slategrey">Lumirror Technical Intern</h5>
                        </div>
                        <div>
                           <h5>Summer 2014</h5>
                        </div>
                    </div>
                    <ul>
                        <li>Assigned projects ranging from data gathering to mechanical design</li>
                        <li>Worked on temperature control of plastics in the assembly line by the use of
                        vortex cooling</li>
                        <li>Designed a cooling jacket for a temperature probe</li>
                    </ul>
                </div>
            </div>
        </div>
        {% include 'includes/_footer.html' %}
    </div>


    <div id="particles-js"></div>

        <script>
            particlesJS.load("particles-js", "../static/particles/particles.json", function(){
                console.log('particles loaded');
            })
        </script>

</body>
{#{% include 'includes/_footer.html' %}#}
</html>