<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% include 'includes/_links.html' %}

    <title>Brenno Ribeiro</title>
  </head>
  <body>

    <!-- Nav Bar -->


    <div class="big-banner" style="height: 670px">
        {% include 'includes/_navbar.html' %}

        <div class="row" style="margin-top: 160px">
            <div class="card mx-auto text-center" style="width: 28rem; background-color: transparent; border-color: white">
                <div class="card-block">
                    <h3 class="card-title" style="color: white; font-size: 52px">Brenno Ribeiro</h3>
                </div>
            </div>
        </div>


        <div class="col text-center mt-4">
            <p style="font-size:23px; color: white">Mechanical Engineer, Aspiring Machine<br/>Learning Specialist</p>
            <ul class="list-inline mt-5">
              <li class="list-inline-item">
                  <a class="link-test" href="https://github.com/BrennoR"
                     style="background-image: url(../static/images/GitHub-Mark-64px.png)">
                      Github
                  </a>
              </li>
              <li class="list-inline-item">
                  <a class="link-test" href="https://www.linkedin.com/in/brenno-ribeiro-6554b714a/"
                     style="background-image: url(../static/images/linkedin-logo-button.svg)">
                      LinkedIn
                  </a>
              </li>
              <li class="list-inline-item">
                  <a class="link-test" href="https://www.facebook.com/brenno.ribeiro.144"
                     style="background-image: url(../static/images/facebook-logo-button.svg)">
                      Facebook
                  </a>
              </li>
              <li class="list-inline-item">
                  <a class="link-test" href="https://www.instagram.com/brennobrenno/"
                     style="background-image: url(../static/images/instagram-logo.svg)">
                      Instagram
                  </a>
              </li>
            </ul>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  </body>
</html>