<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'includes/_links.html' %}
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
</head>
<body>
    <div id="particles-js">
        {% include 'includes/_navbar.html' %}

        <div class="container">
            <h1>Skills</h1>

            <div class="col mt-4">
                <h2>Programming Languages</h2>
                <p>Python, Swift, MATLAB, etc...</p>
                <br/>
                <h2>Libraries</h2>
                <p>Tensorflow, ScikitLearn, NumPy, Pandas</p>
            </div>
        </div>

    </div>

    <script>
        particlesJS.load("particles-js", "../static/particles/particles.json", function(){
            console.log('particles loaded');
        })
    </script>

</body>
</html>